//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1280px;
$bp-desktop-xl: 1536px;
$bp-desktop-xxl: 1920px;

//variable de las fuentes
$poppins: Poppins;

//variables de color
$blue: #264065;
$silver-light: #a9d6cb;
$white: #ffffff;
$silver: #909090;
$white-dark: #fefefd;
$black: #070d15;


