@use '../abstracts/abstracts' as abs;
@use '../components/components' as comp;
@use '../base/base' as base;

.container-header{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.container-main{
    margin-left: 5%;
}