@use '../abstracts/abstracts' as abs;
@use '../components/components' as comp;
@use '../base/base' as base;


.main-principal{
    .image-hero{
        position: absolute;
        z-index: -1;
        width: 70%;
        left: 25%;
        top: 0;
        @include abs.breakpoint(desktopxxl){
            top: 5%;
        }
    }
    .container-main{
        display: flex;
        .hero-left{
            display: flex;
            flex-direction: column;
            gap: 50px;
            width: 50%;
            .title-hero{
                font-size: 50px;
                color: abs.$blue;
                font-weight: bold;
                width: 80%;
                @include abs.breakpoint(desktopxxl){
                    font-size: 64px;
                }
            }
            .description-hero{
                font-size: 20px;
                color: abs.$silver;
                font-weight: normal;
                width: 80%;
                @include abs.breakpoint(desktopxxl){
                    font-size: 24px;
                    width: 85%;
                }
            }
            .buttons-hero{
                display: flex;
                align-items: center;
                gap: 40px;
                margin-bottom: 30px;
                @include abs.breakpoint(desktopxxl){
                    gap: 60px;
                }
                .button{
                    @include comp.button;
                }
                .video{
                    display: flex;
                    align-items: center;
                    .watch{
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        gap: 15px;
                        align-items: center;
                        @include abs.breakpoint(desktopxxl){
                            font-size: 18px;
                        }
                        &:hover{
                            color: abs.$silver;
                        }
                        .play{
                            padding: 10px;
                            border-radius: 90px;
                            background-color: abs.$white;
                            box-shadow: 20px 25px 90px abs.$blue;
                        }
                    }
                }
            }
            .features{
                display: flex;
                justify-content: center;
                background-color: abs.$white;
                gap: 20px;
                padding-top: 20px;
                width: 70%;
                .items{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    img{
                        width: 72px;
                        height: 72px;
                    }
                    span{
                        font-size: 30px;
                        font-weight: 500;
                        color: abs.$blue;
                        @include abs.breakpoint(desktopxxl){
                            font-size: 36px;
                        }
                    }
                    p{
                        font-size: 15px;
                        font-weight: normal;
                        color: abs.$silver;
                        width: 70%;
                        text-align: center;
                        @include abs.breakpoint(desktopxxl){
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .hero-right{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 50px;
            .options-1{
                backdrop-filter: blur(8px);
                background-color: rgba(255, 255, 255, 0.4);
                width: 40%;
                padding: 30px;
                border-radius: 15px;
                margin-left: 50%;
                margin-top: 10%;
                @include abs.breakpoint(desktopxxl){
                    width: 45%;
                    margin-top: 20%;
                }
                img{
                    width: 10%;
                }
                p{
                    font-size: 14px;
                    color: abs.$black;
                    @include abs.breakpoint(desktopxxl){
                        font-size: 18px;
                    }
                }
                h3{
                    font-size: 15px;
                    color: abs.$blue;
                    font-weight: bold;
                    @include abs.breakpoint(desktopxxl){
                        font-size: 18px;
                    }
                }
            }
            .options-2{
                backdrop-filter: blur(8px);
                background-color: rgba(255, 255, 255, 0.4);
                width: 40%;
                padding: 30px;
                border-radius: 15px;
                margin-left: 30%;
                @include abs.breakpoint(desktopxxl){
                    width: 45%;
                }
                img{
                    width: 10%;
                }
                p{
                    font-size: 14px;
                    color: abs.$black;
                    @include abs.breakpoint(desktopxxl){
                        font-size: 18px;
                    }
                }
                h3{
                    font-size: 15px;
                    color: abs.$blue;
                    font-weight: bold;
                    @include abs.breakpoint(desktopxxl){
                        font-size: 18px;
                    }
                }
            }
        }
    }
}